@font-face {
    font-family:'RalewayEB';
    src: url(../fonts/raleway-extrabold.ttf);
}

@font-face {
    font-family: 'Norwester';
    src: url(../fonts/Norwester.otf);
}

@font-face {
    font-family: 'RalewayB';
    src: url(../fonts/raleway-bold.ttf)
}

.ralewayextrabold {
  font-family: 'RalewayEB';
}

.norwester {
    font-family: 'Norwester';
    color: #a0d3ab;
}

.ralewaybold {
    font-family: 'RalewayB';
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 8px;
}

.nav-name {
    color: #6a99df !important;
    font-size: 30px;
    margin-right: 40px;
}

.nav-text1 {
    color: #a0d3ab !important;
    font-size: 20px;
}

.nav-text2 {
    color: #6a99df !important;
    font-size: 20px;
}

.navbar-brand {
    margin-right: 40px;
}

.nav-link {
    margin-right: 20px;
}

.first-block {
    background-color: #fcfffc;
    padding: 50px 5%;
}

.second-block {
    background-color: #e5efe7;
    padding: 50px 5%;
}

.third-block {
    background-color: #cfdcdf;
    padding: 50px 5%;
}

.footer {
    background-color: #2d384d;
    padding: 50px 5%;
}

.footer-text1 {
    color: #a0d3ab !important;
}

.footer-text2 {
    color: #6a99df !important;
}

.footer-links {
    color: #e5efe7;
    text-decoration: none;
}

.footer-links:hover {
    color: #e5efe7;
    text-decoration: underline
}










